/* 2-column-nav template */
/* from: http://www.quackit.com/html/templates/layout_templates.cfm */

body {
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}

#header {
  background: #ccc;
  height: 100px;
}

#header h1, #header h2, #header h3 {
  margin: 0;
  padding-top: 15px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

#nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 230px;
  margin-left: -100%;
  background: #eee;
}

#footer {
  clear: left;
  width: 100%;
  background: #ccc;
  text-align: center;
  padding: 4px 0;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

#content {
  margin-left: 220px; /* Same as 'nav' width */
}

#content iframe {
  width: 100%;
  height: 100%;
}

.innertube {
  margin: 0 10px 0 10px;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}
