/* general styling */

.data-ilt table {
  border-collapse: collapse;
}

.data-ilt tr:hover {
  background-color: LightGrey;
}

.data-ilt th {
  background-color: Blue;
  color: White;
}

.data-ilt table, .data-ilt th, .data-ilt td {
  border: 1px solid black;
  border-collapse: collapse;
}
